<form class="ui segment form" action="/dashboard/addstation" method="POST">
    
        <div class="field">
            <label><h4>Station Name</h4></label>
            <input placeholder="Station Name" type="text" pattern="[A-Za-z]{1,20}" name="name" required>
        </div>
    
    <button class="ui submit button">Add Station</button>
</form>