<table class="ui table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.readings}}
    <tr>
      <td>
        {{station.name}}
      </td>
      <td>
        0.
      </td>
      <td>
      3.5</td>
    </tr>
      <tr>
      <td>
        600
      </td>
      <td>
        2.5
      </td>
      <td>
      1.5</td>
    </tr>
  </tbody>
</table>