{{> welcomemenu }}
<section class="ui blue segment">
  <center>  
  <h3>Welcome to WeatherTop, your one stop shop for all things weather!</h3>
    
  <img class="ui centered large image" src="https://cdn.glitch.com/dd3cf61b-3a76-4b41-a54d-81718f125223%2FhomeWeather.jpg?v=1624799659538">
    
  <h4>Please choose from the menu above to Sign Up or Log in.</h4>    
    
  </center>
</section>
