{{> menu}}

<section class="ui blue middle aligned segment">
  {{> weathercards}}
  <h2 class="ui header">
  </h2> 
</section>

{{> trend-charts}}
{{> listreadings}}
{{> addreading}}
{{> autogenerate-reading}}

