{{> menu}}

<section class="ui middle aligned segment">
  {{> weathercards}}
  <h2 class="ui header">
    {{station.name}}
  </h2>
  {{#if station.readings}}
  {{> listreadings}}
  {{else}}
  <h2>
    No readings yet
  </h2>
  {{/if}}
</section>
{{> addreading}}